.Navbar {
  width: 100vw;
  height: 60px;
  z-index: 20;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
  border-bottom: hsl(214.3 31.8% 91.4%) 1px solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
[data-theme="dark"] .Navbar {
  border-bottom: hsl(214.3 31.8% 8.4%) 1px solid;
  background-color: hsl(214.3 31.8% 8.4%);
}
.Navbar__logo {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo_heading {
  font-size: 1.5rem;
  color: #00d09c;
  font-weight: 600;
  margin-left: 0.5rem;
}
