.Sidebar {
  border-right: hsl(214.3 31.8% 91.4%) 1px solid;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.sidebarItem {
  width: 90%;
  background-color: #2e98fb;
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sidebarItem:hover {
  background-color: #2e98fbd3;
  color: white;
  transform: scale(1.05);
}
.ItemText {
  font-size: 1.2rem;
  font-weight: 500;
}

.sidebarNonActiveItem {
  width: 90%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  cursor: not-allowed;
  transition: all 0.3s ease-in-out;
}
