.Details {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
}

.Details__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}
.Details__header__image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.UserImage_flex_container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.UserImage__Square {
  position: relative;
  width: 240px;
  height: 240px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.UserImage_container__heading {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
}

.UserImage_list_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.Details_ViewToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

.Details_toggle__button {
  width: 200px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: #00d09c;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.Details__Hover_Text {
  display: none;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  bottom: 0;
  padding: 5px;
  transition: 0.5s ease;
}

/* Show the paragraph when hovering over the parent div */
.UserImage__Square:hover .Details__Hover_Text,
.UserImage__List:hover .Details__Hover_Text {
  display: block;
  transition: 0.5s ease;
}

@media (max-width: 767px) {
  .UserImage__Square {
    width: 330px;
    height: 330px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
  }
}
.Details__button_Text {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
