.Container {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sidebar {
  width: 20%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}
.mainSection {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  transition: transform 0.3s ease-in-out;
}
.RightSidebar {
  width: 35%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}
/* Styles for mobile screen */
@media (max-width: 767px) {
  .Container {
    position: relative;
  }

  .Container > div:nth-child(1) {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    height: 60px;
  }
  .Container > div:nth-child(3) {
    display: none;
  }

  .Container > div:nth-child(2) {
    width: 100%;
  }
}
